{% extends 'home.html' %}


{% block content %}

    <section id='contact'>
        <div class="container-sm">

            <div class="text-center">
                <div class="bg-secondary text-light text-center"> register view </div>
            </div>

            <div class="row justify-content-center my-5 text-center bg-dark text-light">
                
                <div class="col-sm-4 col-lg-6">
                    <form method="POST">
                        {% for field in form %}
                            <div class="form-group">
                                <label class="form-label">{{ field.label }}</label>
                                <div>{{ field }}</div>
                            </div>
                        {% endfor %}
                        <p></p>
                        <input type="submit" class="btn btn-outline-warning" value="register" / >
                    </form>
                </div>

            </div>

        </div>
    </section>

{% endblock content %} 