{% extends 'home.html' %}


{% block content %}


    <div class="container-lg">

        <div class="row justify-content-center">

            <div class="col-sm-4 col-lg-6">
                <div class="bg-secondary text-light text-center"> register view </div>
            </div>

        </div>

        <form method="POST">
            {% for field in form %}
                {% csrf_token %}
                <div class="row justify-content-center">

                    <div class="col-sm-4 col-lg-6 text-center">
                        {{field.label}}
                    </div>

                </div>

                <div class="row justify-content-center">

                    <div class="col-sm-4 col-lg-6 text-center">
                        {{field}}
                    </div>

                </div>
            {% endfor %}
            <div class="row justify-content-center">
                <div class="col-sm-4 col-lg-6 text-center">
                    <button type="submit" class="btn btn-outline-primary">register</button>
                </div>
            </div>
        </form>

    </div>
    
{% endblock content %} 